<div class="gradient-background">
    {{#if isApproved}}
        {{> header }}
        <div class="container">        
            <div class="common-title-block">        
                <i class="fas fa-flag"></i> <h1 class="common-title-block__title">{{this.groupname}}Flag posts</h1>        
            </div>

            {{#if user}}
                {{#each posts}}                
                   
                    {{#each post_details}}
                        <div class="post-main-block post-container" id="{{post_id}}">
                            <div class="post-top-blck">
                                <div class="img-block">    
                                    {{#each ../author_details}}                               
                                        {{#each user_profile}}
                                            <img class="handled-profile-picture" src="/images/{{profilepic}}" alt="" />
                                        {{/each}}                
                                    {{/each}}                  
                                </div>                               
                                <div class="post-rt-block">
                                    <div class="author-block">
                                        {{#each ../author_details}}
                                        <div class="author-block__name">{{username}}</div>
                                        {{/each}}
                                    </div>
                                    <div class="author-block__date">{{moment date format="HH:mm"}}</div>
                                </div>
                                <ul class="flag-dropdown">
                                    <li> <i class="fa fa-ellipsis-h" aria-hidden="true" title="flag this post"></i>
                                        <ul class="flag-dropdown__submenu">
                                            <li id="{{this.post_id}}">
                                                <i class="fa fa-trash" aria-hidden="true"></i>  <a href="javascript:void(0);" class="trash-post">Trash</a>  
                                            </li>
                                        </ul> 
                                    </li>
                                </ul>                       
                            </div>
                            <div class="group-flag-block__right">                                                            
                                <div class="group-flag-block__description">{{this.description}}</div>
                                {{#if postimage}}
                                    <img class="group-flag-block__image" src="/images/{{this.postimage}}" alt="" />
                                {{/if}}
                            </div>                            
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                <div class="header">        
                    <img src="../images/logo-new.svg" alt="" />
                </div> 
                <h2 class="not-approved-text">You are not authorised to see this page</h2>
            {{/if}}
    {{else}}
            {{> thanks }}            
        </div>
    {{/if}}
</div>