{{#if isApproved}}
<div class="container">
    {{> header }}

    {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-error">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-error">{{error}}</div>
          {{/if}}
  
<div class="common-title-block">
        <i class="fas fa-cog"></i> <h1 class="common-title-block__title">Admin Settings</h1>
    </div>
  {{#if user}}
      {{#each user_friends}}
     <!--  <div class="friend-list" id="{{this.member_id}}"> -->
       <div class="admin-list" id="{{this.member_id}}">
        <div class="friend-list-top">
          <div class="friend-list__profile-pic">
              {{#each user_profile}}
              <img src="../images/{{profilepic}}" />
              {{/each}}
          </div>        
          <div class="friend-list__detail">
            <h2 class="friend-list__username">{{this.username}}</h2>
            {{#each user_profile}}
            <p class="friend-list__description">{{{description}}}</p>
            {{/each}}
          </div>
        </div>
        <div class="friend-list-bottom" id="{{this.member_id}}">
        
            {{#if admin}}
              <label class="admin-checkbox-block">
                <input type="checkbox" id="{{member_id}}" class="friend-list__select-btn admin-checkbox-block__checbox" checked>
                <span class="admin-checkbox-block__checkmark"></span>
              </label>
            {{else}}
              <label class="admin-checkbox-block">
                <input type="checkbox" id="{{member_id}}" class="friend-list__select-btn admin-checkbox-block__checbox">
                <span class="admin-checkbox-block__checkmark"></span>
              </label>
            {{/if}}                    
            {{#if isApproved}}
            <label class="user-checkbox-block">
              <input type="checkbox" id="{{member_id}}" class="friend-list__approve--user user-checkbox-block__checbox" checked>
              <span class="user-checkbox-block__checkmark"></span>
            </label>
            {{else}}
            <label class="user-checkbox-block">
              <input type="checkbox" id="{{member_id}}" class="friend-list__approve--user user-checkbox-block__checbox">
              <span class="user-checkbox-block__checkmark"></span>
            </label>
            {{/if}}              
          <button class="friend-list__delete-user">Delete</button>
        </div>
      </div>
      {{/each}}
    {{else}}
          <h2>You are not authorised to see this page</h2>
    {{/if}}
   {{else}}
<h2>Admin has not approved you as Connect19 user yet</h2>
    {{/if}}
    <div id="notify"></div>
    </div>