<div class="gradient-background">
    <div class="wall-header">
    <div class="wall-header__connect-tab">Connect Wall</div>
    <div class="wall-header__chat-tab">Chat</div>
</div>  <!-- wall-header -->
<div class="drop-menu">
        <a href="javascript:void();"><img src="/images/menu.svg" class="drop-menu__button" /></a>
    </div>
    {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-error">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-error">{{error}}</div>
          {{/if}}
          
{{#each user_friends}}
<div class="friend-list">
<div class="friend-list__profile-pic">
{{#each user_profile}}
<img src="../images/{{profilepic}}" />
{{/each}}
</div>
<div class="friend-list__detail">
<h2 class="friend-list__username">{{this.username}}</h2>
{{#each user_profile}}
<p class="friend-list__description">{{{description}}}</p>
{{/each}}
</div>
<label> Make admin: 
  {{#if admin}}
<input type="checkbox" id="{{member_id}}" class="friend-list__select-btn" checked>
{{else}}
<input type="checkbox" id="{{member_id}}" class="friend-list__select-btn">
{{/if}}
</label>


</div>
{{/each}}
</div>