<div class="gradient-background">
{{#if isApproved}}
    {{> header }}

    {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-error">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-error">{{error}}</div>
          {{/if}}


  {{#if user}}
      {{#each user_friends}}
      <div class="friend-list" id="{{this.member_id}}">
        <div class="friend-list__profile-pic">
            {{#each user_profile}}
            <img src="../images/{{profilepic}}" />
            {{/each}}
        </div>
        <div class="friend-list__detail">
          <h2 class="friend-list__username">{{this.username}}</h2>
          {{#each user_profile}}
          <p class="friend-list__description">{{{description}}}</p>
          {{/each}}
        </div>
        <label> Make admin: 
          {{#if admin}}
            <input type="checkbox" id="{{member_id}}" class="friend-list__select-btn" checked>
          {{else}}
            <input type="checkbox" id="{{member_id}}" class="friend-list__select-btn">
          {{/if}}
        </label>
        <label> Approve User: 
          {{#if isApproved}}
            <input type="checkbox" id="{{member_id}}" class="friend-list__approve--user" checked>
          {{else}}
            <input type="checkbox" id="{{member_id}}" class="friend-list__approve--user">
          {{/if}}
        </label>      
        <button class="friend-list__delete-user">Delete</button>
      </div>
      {{/each}}
    {{else}}
          <h2>You are not authorised to see this page</h2>
    {{/if}}
   {{else}}
<h2>Admin has not approved you as Connect19 user yet</h2>
    {{/if}}
    <div id="notify"></div>
</div>