<div class="gradient-background">
    {{#if isApproved}}
        {{> header }}
            <div class="container">    
                        
                {{#announcement}}
                
                    <div class="post-main-block" id="{{post_id}}"> 
                        <div class="post-top-blck">
                            <div class="img-block">
                                {{#each user_details}}
                                            {{#each user_profile}}
                                                <img src="/images/{{this.profilepic}}" alt="" />
                                            {{/each}}
                                        {{/each}}                        
                            </div>
                            <div class="post-rt-block">
                                <div class="author-block">                            
                                        {{#each user_details}}                                    
                                                <div class="author-block__name">{{this.username}}</div>                                                            
                                        {{/each}}                                
                                </div>
                                <div class="author-block__date">{{moment date format="DD-MM-YYYY"}}</div>                
                            </div>                    
                        </div>
                        <div class="post-block">
                            <div class="post-block__description">{{this.description}}</div>    
                            {{#if image}}<div class="post-block__featured-image"><img src="/images/{{this.image}}" /></div>{{/if}}
                        </div>
                    </div>            
                {{/announcement}}
                {{#if admin}}
                <form method="post" action="/announcement/addannouncement" enctype="multipart/form-data" class="post-form">
                    <input type="text" name="announdescription" placeholder="Post..." class="post-form__description"/>
                    <img src="images/attachment.svg" id="img"/>
                    <input type="file" name="announimage" class="post-form__file" id="file" placeholder="Write post...">
                    <input name="submit" type="submit" value="send" class="post-form__button"/>
                </form>  
                {{/if}}    
            </div>
        </div>
{{else}}
    <h2>Admin has not approved you as Connect19 user yet</h2>
{{/if}}
</div>

