
<div class="gradient-background">
    <div class="wall-header">
    <div class="wall-header__connect-tab">Connect Wall</div>
    <div class="wall-header__chat-tab">Chat</div>
</div>  <!-- wall-header -->
<div class="drop-menu">
        <a href="javascript:void();"><img src="/images/menu.svg" class="drop-menu__button" /></a>
    </div>
    {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-error">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-error">{{error}}</div>
          {{/if}}
                    
{{#each users}}
  {{#each user_details}}
    <div class="friend-list" id="{{member_id}}">
      <div class="friend-list__profile-pic">
        {{#each user_profile}}
        <img src="../images/{{profilepic}}" />
        {{/each}}
      </div>
      <div class="friend-list__detail">
      <h2 class="friend-list__username">{{username}}</h2>
        {{#each user_profile}}
          <p class="friend-list__description">{{{description}}}</p>
        {{/each}}
      </div>
      <div id="chat_section_wrapper"></div>      
     <!-- <button id="{{member_id}}" class="chat_button">Chat</button>  -->
       <a href="/users/chat/{{member_id}}" id="{{member_id}}" class="chat_button">Chat</a> 
    </div>
  {{/each}}
{{/each}}
</div>
