
<div>
    <div class="wall-header">
    <a href="/"  class="wall-header__connect-tab">The Wall</a>
    <a href="/friends" class="wall-header__chat-tab">Chat</a>
    <div class="drop-menu">
      <a href="/users/profile"><img src="images/menu.svg" class="drop-menu__button" /></a>
    </div>
</div>  <!-- wall-header -->
    {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-error">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-error">{{error}}</div>
          {{/if}}
                    
{{#each users}}
  {{#each user_details}}
    <a href="/users/chat/{{member_id}}.{{../this.member_id}}" id="{{member_id}}" class="chat_button">
    <div class="friend-list" id="{{member_id}}">
      <div class="friend-list__profile-pic">
        {{#each user_profile}}
        <img src="../images/{{profilepic}}" />
        {{/each}}
      </div>
      <div class="friend-list__detail">
      <h2 class="friend-list__username">{{username}}</h2>
        {{#each user_profile}}
          <p class="friend-list__description">{{{description}}}</p>
        {{/each}}
      </div>
      <div id="chat_section_wrapper"></div>      
     <!-- <button id="{{member_id}}" class="chat_button">Chat</button>  -->       
    </div>
    </a> 
  {{/each}}
{{/each}}
</div>
