<div class="gradient-background">
    {{#if isApproved}}
    {{> header }}
    <h1>Pending Requests</h1>
    {{#each friendrequests}}
        {{#each user_details}}
            <div class="pending-request" id="{{member_id}}">
                <div class="friend-list__profile-pic">
                {{#each user_profile}}
                    <img src="../images/{{profilepic}}" />
                {{/each}}
                </div>
                <h2 class="pending-request__title">{{username}}</h2> 
                {{#each user_profile}}
                    <p class="friend-list__description">{{{description}}}</p>
                {{/each}}
                <button class="pending-request__accept-btn" id ="accept_friend_request">Accept</button>       
            </div>
        {{/each}}
    {{/each}}
</div>   
{{else}}
<h2>Admin has not approved you as Connect19 user yet</h2>
    {{/if}} 