  {{#if isApproved}}
  {{> header }}
<div class="container">
    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
      <div class="alert alert-error">{{error_msg}}</div>
    {{/if}}
    {{#if error}}
      <div class="alert alert-error">{{error}}</div>
    {{/if}}
  <div class="search-box">
            <input type="text" class="search-box__input" id="filterUser" onkeyup="filterUser()" placeholder="Search Friends..." title="Type in a name">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <div id="friends-list-block">
            
  {{#each user_friends}}
    <div class="friend-list">
      <div class="friend-list__profile-pic">
      {{#each user_profile}}
        <img class="handled-profile-picture" src="../images/{{profilepic}}" />
      {{/each}}
      </div>
      <div class="friend-list__detail">
        <h2 class="friend-list__username">{{this.username}}</h2>
        {{#each user_profile}}
          <p class="friend-list__description">{{{description}}}</p>
        {{/each}}        
      </div>              
        {{#comparegroup friends ../user_id}}
            <div class="friend-list__friends">Friends </div><i class="fas fa-check-circle"></i>
             {{else}}
        {{#comparegroup friend_requests ../user_id}}
           <div class="friend-list__friends">Friend Request Sent</div><i class="fas fa-check-circle"></i>
           {{else}}
            <button id="{{member_id}}" type="button" class="request-btn test1"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
        {{/comparegroup}}
         {{/comparegroup}}
    </div>
  {{/each}}
  </div>
  {{else}}
     {{> thanks }}
    </div> 
    {{/if}}
