<div class="gradient-background">
    {{#if isApproved}}
     <div class="container">
    {{> header }}
    <div class="common-title-block">        
        <i class="fas fa-flag"></i> <h1 class="common-title-block__title">{{this.groupname}} Group flag posts</h1>        
    </div>        

{{#compare createdby user operator="=="}}
    {{#each posts}}        
        <div id="group-id" data-id="{{this.group_id}}">                        
                {{#each flag}}
                    <div class="group-flag-block" id="{{post_id}}">
                        <div class="group-flag-block__left">
                            <div class="group-flag-img-block">  
                                {{#each ../user_details}}
                                    {{#each user_profile}}
                                        <img src="/images/{{this.profilepic}}" alt="" />
                                    {{/each}}
                                {{/each}}
                            </div>
                            <div class="group-flag-post-rt-block">
                                <div class="group-flag-author-block">
                                    {{#each ../user_details}}
                                    <div class="group-flag-author-block__name">{{this.username}}</div>
                                    {{/each}}
                                    <div class="group-flag-author-block__date">{{moment date format="DD-MM-YYYY HH:mm"}}</div>
                                </div>
                            </div>
                            <ul class="flag-dropdown">
                        <li><i class="fa fa-ellipsis-h" aria-hidden="true" title="flag this post"></i>
                            <ul class="flag-dropdown__submenu" >                                
                                <li id="{{this.post_id}}">
                                 <i class="fa fa-trash" aria-hidden="true"></i>   <a href="javascript:void(0);" class="group-flag-block__trash-post">Trash Post</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                        <!--    <a href="javascript:void(0);" class="group-flag-block__trash-post">Trash</a>  -->
                        </div>                         
                        <div class="group-flag-block__right">                                                            
                            <div class="group-flag-block__description">{{this.description}}</div>
                            {{#if postimage}}
                                <img class="group-flag-block__image" src="/images/{{this.postimage}}" alt="" />
                            {{/if}}
                        </div>                    
                    </div>
                {{/each}}                                     
        </div>
    {{/each}}
   {{else}}
   <div class="header">        
          <img src="../images/logo-new.svg" alt="" />
        </div> 
   <h1 class="not-approved-text">You are not authorised to see this page</h1>
   {{/compare}}
   {{else}}
    <div class="header">        
          <img src="../images/logo-new.svg" alt="" />
        </div> 
        <h2 class="not-approved-text">Admin has not approved you as Connect19 user yet</h2>    
    {{/if}}
    </div>
</div>