<div class="gradient-background">
    {{#if isApproved}}
    {{> header }}
<h1 class="group-title">{{this.groupname}} Group flag posts</h1>

{{#compare createdby user operator="=="}}
    {{#each posts}}        
        <div id="group-id" data-id="{{this.group_id}}">                        
                {{#each flag}}
                    <div class="group-flag-block" id="{{post_id}}">
                        <div class="group-flag-block__left">                             
                            {{#each ../user_details}}
                                {{#each user_profile}}
                                    <img src="/images/{{this.profilepic}}" alt="" />
                                {{/each}}
                            {{/each}}
                        </div>
                        <div class="group-flag-block__right">
                            {{#each user_details}}
                                {{this.username}}                                               
                            {{/each}}
                            {{#if postimage}}
                                <img class="group-flag-block__image" src="/images/{{this.postimage}}" alt="" />
                            {{/if}}  
                            <div class="group-flag-block__description">{{this.description}}</div>
                            <div class="group-flag-author-block">
                                <div class="group-flag-author-block__name">{{this.author}}</div>
                                <div class="group-flag-author-block__date">{{moment date format="DD-MM-YYYY HH:mm"}}</div>
                            </div>                           
                        </div>
                        <a href="javascript:void(0);" class="group-flag-block__trash-post">Trash</a>
                    </div>
                {{/each}}                                     
        </div>
    {{/each}}
   {{else}}
   <h1>You are not authorised to see this page</h1>
   {{/compare}}
   {{else}}
<h2>Admin has not approved you as Connect19 user yet</h2>
    {{/if}}
</div>