<div class="gradient-background">
    {{#if isApproved}}
    {{> header }}
        <h1 class="group-title">{{groupname}} Group Trash posts</h1>
        {{#compare createdby user operator="=="}}
    {{#each posts}}

        <div id="group-id" data-id="{{this.group_id}}">            
            {{#each trash}}
                <div class="group-trash-block" id="{{post_id}}">
                    <div class="group-trash-block__left">
                        <img src="/images/{{this.authorpic}}" alt="" />
                    </div>
                    <div class="group-trash-block__right">
                        {{#if postimage}}
                            <img class="group-trash-block__image" src="/images/{{this.postimage}}" alt="" />
                        {{/if}}  
                        <div class="group-trash-block__description">{{this.description}}</div>
                        <div class="group-trash-author-block">
                            <div class="group-trash-author-block__name">{{this.author}}</div>
                            <div class="group-trash-author-block__date">{{moment date format="DD-MM-YYYY HH:mm"}}</div>
                        </div>                           
                    </div>
                    <button class="group-trash-block__undo-btn">Undo</button>
                    <button class="group-trash-block__delete-btn">Delete</button>
                </div>
                {{/each}}            
        </div>
    {{/each}}
     {{else}}
   <h1>You are not authorised to see this page</h1>
   {{/compare}}
       {{else}}
<h2>Admin has not approved you as Connect19 user yet</h2>
    {{/if}}
</div>