<div class="gradient-background">
    <div class="container">
    {{#if isApproved}}
    {{> header }}
    <div class="common-title-block">        
        <i class="fas fa-trash"></i> <h1 class="common-title-block__title">{{this.groupname}} Group Trash posts</h1>        
    </div>         
        {{#compare createdby user operator="=="}}
            {{#each posts}}

                <div id="group-id" data-id="{{this.group_id}}">            
                    {{#each trash}}
                        <div class="group-trash-block" id="{{post_id}}">
                            <div class="group-trash-block__left">
                                {{#each ../user_details}}
                                    {{#each user_profile}}
                                        <img src="/images/{{this.profilepic}}" alt="" />
                                    {{/each}}
                                {{/each}}

                                <div class="group-trash-author-block">
                                {{#each ../user_details}}
                                    <div class="group-trash-author-block__name">{{this.username}}</div>
                                {{/each}}
                                    <div class="group-trash-author-block__date">{{moment date format="DD-MM-YYYY HH:mm"}}</div>
                            
                            </div>   
                            
                                <ul class="flag-dropdown">
                                    <li><i class="fa fa-ellipsis-h" aria-hidden="true" title="flag this post"></i>
                                        <ul class="flag-dropdown__submenu" >                                
                                                <li id="{{this.post_id}}">                                     
                                           <i class="fa fa-undo" aria-hidden="true"></i>             <button class="group-trash-block__undo-btn">Undo</button>                                
                                                </li>
                                            
                                            <li id="{{this.post_id}}">
                                           <i class="fa fa-trash" aria-hidden="true"></i> <button class="group-trash-block__delete-btn">Delete</button>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                             
</div>                             
                            <div class="group-trash-block__right">
                                
                                <div class="group-trash-block__description">{{this.description}}</div>
                                 {{#if postimage}}
                                    <img class="group-trash-block__image" src="/images/{{this.postimage}}" alt="" />
                                {{/if}} 
                                                        
                            </div>

                                                     
                        </div>
                    {{/each}}            
                </div>
            {{/each}}
     {{else}}
       <div class="header">        
          <img src="../images/logo-new.svg" alt="" />
        </div> 
       <h1 class="not-approved-text">You are not authorised to see this page</h1>
   {{/compare}}
       {{else}}
<div class="header">        
          <img src="../images/logo-new.svg" alt="" />
        </div> 
        <h2 class="not-approved-text">Admin has not approved you as Connect19 user yet</h2>  
    {{/if}}
    </div>    
</div>