<div class="gradient-background">
    {{#if isApproved}}
    {{> header }}
        <div class="container">
            
            {{#if user}}
                    {{#each posts}}
                        <div class="trash-block" id="{{post_id}}">
                            {{#each trash}}
                                <div class="trash-block__author"> {{this.author}}</div>
                                    {{#if postimage}}
                                        <div class="trash-block__featured-image">
                                            <img src="/images/{{this.postimage}}" />
                                        </div>
                                    {{/if}}
                                <div class="trash-block__description">{{this.description}}</div>  
                                <button class="trash-block__undo-btn">Undo</button>
                                <button class="trash-block__delete-btn">Delete</button>
                            {{/each}}
                        </div>        
                    {{/each}}   
                    {{else}}
                    <div class="header">        
                      <img src="../images/logo-new.svg" alt="" />
                    </div> 
                    <h2 class="not-approved-text">You are not authorised to see this page</h2>
            {{/if}}
        </div>
    {{else}}
         <div class="container" style="padding: 0 20px;">
        <div class="header">        
            <img src="../images/logo-new.svg" alt="" />
        </div> 
        <h2 class="not-approved-text">Thank you for signing up. Your join request has been sent. Please check back soon or contact one the admins to add you as a member.</h2>
        <a href="/users/logout" class="form-group__login-btn background-color--blue"><i class="fas fa-sign-out-alt"></i> Logout</a>
        <button type="button" class="refresh-btn form-group__login-btn" onClick="Refresh()">Refresh</button>
    </div>
    {{/if}}
</div>